
REPRO_NAME=repro-template
REPRO_DOCKER_ORG=cirss
REPRO_IMAGE_TAG=latest
#REPRO_EXAMPLES=examples
REPRO_CODE=src
REPRO_DOCKER_OPTIONS=

# Define target aliases available both inside and outside a running REPRO
#examples: run-examples  # Run all of the examples
#build: build-code       # Build all of the custom code.
#test: test-code         # Run all of the tests on custom code.

# Define target aliases available only outside a running REPRO
ifndef IN_RUNNING_REPRO
start: start-image      ## Start a container using this REPRO's Docker image.
image: build-image      ## Build the Docker image used to run this REPRO.
endif
